<style>
body{
    background-color:black;
}
div.terminal{
    background-color:black;
    color:white;
    font-family: monospace;
    border: 2px solid grey;
    padding: 10px;
	padding-top:0px;
    margin: 0 auto;
    width: 640px;
}
a.btn{
    border: 1px dotted white;
    padding: 8px;
    border-radius: 16px;
    background-color: white;
    color: green;
}
</style>
<body>
<div class="terminal">
	<h1>sde-distribution.com</h1>
	<a class="btn" href="">refresh</a>

	<p>All time<br>
		<a href="https://www.statuscake.com" title="Website Uptime Monitoring"><img src="https://www.statuscake.com/App/button/index.php?Track=6PjXa8c7Ug&Days=1000&Design=2" /></a>
	<p>

	<p>30 days<br>
		<a href="https://www.statuscake.com" title="Website Uptime Monitoring"><img src="https://www.statuscake.com/App/button/index.php?Track=6PjXa8c7Ug&Days=30&Design=2" /></a>
	</p>

	<p>7 days<br>
		<a href="https://www.statuscake.com" title="Website Uptime Monitoring"><img src="https://www.statuscake.com/App/button/index.php?Track=6PjXa8c7Ug&Days=7&Design=2" /></a>
	</p>

	<p>1 day<br>
		<a href="https://www.statuscake.com" title="Website Uptime Monitoring"><img src="https://www.statuscake.com/App/button/index.php?Track=6PjXa8c7Ug&Days=1&Design=2" /></a>
	</p>
	</div>
</body>